
.division {
   align-self: center;
      position: relative;
      background-color: rgb(89, 182, 219);
      block-size: 50px;
      width: 50%;
      font-size: 13px;
      size: 20px;
      float:right  ;
}
.button{
   background-color: rgb(89, 182, 219);
   align-self: center;
   align-content: center;
   border: none;
   text-decoration-color: #fff8dc;   
   margin-top: 15px;
   margin-left: 15px;
}
